<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta name="description" content="玉山優質當鋪" />
    <meta name="keywords" content="玉山優質當鋪" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="玉山優質當鋪" />
    <meta property="og:description" content="玉山優質當鋪" />
    <meta property="og:image" content="images/fimgs/fbimg.jpg" />
    <meta property="og:url" content="https://ysloans.tw" />
    <meta property="og:site_name" content="玉山優質當鋪" />
    <title>玉山優質當鋪</title>
    <meta name="title" content="玉山優質當鋪" />
    <meta name="google-site-verification" content="" />
    <link rel="canonical" href="https://ysloans.tw" />

    <!-- Favicon -->
    <link href="images/fimgs/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top pt-lg-4 pt-3 pb-2 site-navbar" id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <a href="index.html" class="navbar-brand">
                    <img class="img-fluid" src="images/00-hp/top_logo.svg" alt="Logo">
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="about.html" class="nav-link active d-flex">
                            <div class="text-center">
                                <span class="nav-link-text d-block">關於我們</span>
                                <span class="nav-link-sub-text d-block">About</span>
                            </div>
                        </a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle d-flex" data-bs-toggle="dropdown">
                                <div class="text-center">
                                    <span class="nav-link-text d-block">服務項目</span>
                                    <span class="nav-link-sub-text d-block">Service</span>
                                </div>
                            </a>
                            <div class="dropdown-menu bg-light rounded-0 m-0 nav-dropdown text-lg-center">
                                <a href="car.html" class="dropdown-item">汽機車借款</a>
                                <a href="cheque.html" class="dropdown-item">支客票貼現</a>
                                <a href="realestate.html" class="dropdown-item">房地融資代辦</a>
                                <a href="valuable.html" class="dropdown-item">黃金/精品/3C產品</a>
                                <a href="on-lendding.html" class="dropdown-item">代償降息專案</a>
                                <a href="business.html" class="dropdown-item">工商企業融資</a>
                            </div>
                        </div>
                        <a href="process.html" class="nav-item nav-link d-flex">
                            <div class="text-center">
                                <span class="nav-link-text d-block">借款流程</span>
                                <span class="nav-link-sub-text d-block">Process</span>
                            </div>
                        </a>
                        <a href="news.html" class="nav-item nav-link d-flex">
                            <div class="text-center">
                                <span class="nav-link-text d-block">最新消息</span>
                                <span class="nav-link-sub-text d-block">News</span>
                            </div>
                        </a>
                        <a href="faq.html" class="nav-item nav-link d-flex">
                            <div class="text-center">
                                <span class="nav-link-text d-block">常見問答</span>
                                <span class="nav-link-sub-text d-block">FAQ</span>
                            </div>
                        </a>
                        <a href="map.html" class="nav-item nav-link d-flex">
                            <div class="text-center">
                                <span class="nav-link-text d-block">交通位置</span>
                                <span class="nav-link-sub-text d-block">Map</span>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="site-blocks-cover overlay" data-aos="fade" data-stellar-background-ratio="0.5">
        <div id="hero" class="site-blocks-cover2 overlay2">
            <div class="swiper heroSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide item1">
                    </div>
                    <div class="swiper-slide item2">
                    </div>
                    <div class="swiper-slide item3">
                    </div>
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div class="main_section" id="main">

        <!-- Marquee Start -->
        <div class="container-fluid p-0 m-0 bg-white shadow position-relative" style="z-index: 2;">
            <!-- box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); -->
            <div class="container">
                <div class="row py-42 px-md-4 px-3 mx-lg-auto mx-2">
                    <div class="marquee" data-aos="zoom-in" data-aos-delay="200">
                        <div class="marquee-text">
                            金飾、名錶、3C或其他珍貴物品需要變現，斗六玉山優質當鋪都為您提供公平合理的估價，快速審核，並保證您的隱私與財產安全。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Marquee End -->

        <div class="container-fluid px-0 py-5 m-0 position-relative bg-car">
            <div class="container">

                <div class="row justify-content-center align-items-center mx-lg-auto mx-2 mt-lg-3 mt-5">
                    <div class="col-12">
                        <div class="pg-section-title wm-content mx-auto text-center">
                            <h3>黃金/精品/3C產品</h3>
                            <p class="sub-title">VALUABLE</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center mx-lg-auto mx-2 mt-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="services-item-box1">
                            <div class="services-item-icon text-center mb-3">
                                <img src="images/02/02_4icon1.png" class="img-fluid" alt="">
                            </div>
                            <div class="services-item-text text-center">
                                <h4>高度專業的鑑定與估價</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="services-item-box1">
                            <div class="services-item-icon text-center mb-3">
                                <img src="images/02/02_4icon2.png" class="img-fluid" alt="">
                            </div>
                            <div class="services-item-text text-center">
                                <h4>迅速的現金解決方案</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="services-item-box1">
                            <div class="services-item-icon text-center mb-3">
                                <img src="images/02/02_4icon3.png" class="img-fluid" alt="">
                            </div>
                            <div class="services-item-text text-center">
                                <h4>靈活的收購方式</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="services-item-box1">
                            <div class="services-item-icon text-center mb-3">
                                <img src="images/02/02_4icon4.png" class="img-fluid" alt="">
                            </div>
                            <div class="services-item-text text-center">
                                <h4>黃金典當不扣重</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="services-item-box1">
                            <div class="services-item-icon text-center mb-3">
                                <img src="images/02/02_4icon5.png" class="img-fluid" alt="">
                            </div>
                            <div class="services-item-text text-center">
                                <h4>彈性的還款方式</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="services-item-box1">
                            <div class="services-item-icon text-center mb-3">
                                <img src="images/02/02_4icon6.png" class="img-fluid" alt="">
                            </div>
                            <div class="services-item-text text-center">
                                <h4>專業保管</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="container-fluid px-0 py-5 m-0 position-relative bg-car2">
            <div class="container">

                <div class="row justify-content-center align-items-center mx-lg-auto mx-2 mt-lg-3 mt-5">
                    <div class="col-12">
                        <div class="services-notice">
                            <h5>借款特色</h5>
                            <p>年滿20歲持有有價物品之中華民國國民皆可辦理。</p>
                        </div>
                        <div class="services-notice">
                            <h5>應備文件</h5>
                            <p>建議您可參考以下資訊將應備文件提前準備好，透過LINE或電洽玉山客服專員即可快速審件、火速撥款！</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="services-item-box2">
                            <h6 class="text-center">3C商品、家電</h6>
                            <p>
                                1.身分證正本<br>
                                2.保證書<br>
                                3.相關周邊配件
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-item-box2">
                            <h6 class="text-center">精品珠寶</h6>
                            <p>
                                1.身分證正本<br>
                                2.購買證明<br>
                                3.名錶、鑽石請攜帶保證書和原廠裝盒
                            </p>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="text-primary" style="font-size: 14px;">
                            ※在玉山融資典當精品可彈性還款，隨時提前償還或再借款，到期日可以選擇只繳利息，也可以選擇攤還部分本習。<br>
                            ※可以每月只付最低利息、不還本金，直到清償為止；也可以選擇分期攤還本金。
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid px-0 py-5 m-0 position-relative bg-car3">
            <div class="container">

                <div class="row justify-content-center align-items-center mx-lg-auto mx-2 mt-lg-3 mt-5">
                    <div class="col-12 mb-3">
                        <h5 class="text-white text-center">
                            斗六玉山優質當鋪始終以客戶需求為核心，提供最周全的借款規劃
                        </h5>
                    </div>
                    <div class="col-lg-6 table-responsive services-car">
                        <table class="table bg">
                            <tbody>
                                <tr>
                                    <td class="bg-main text-white">√ 快速便捷</td>
                                    <td class="bg-white px-lg-4 px-2" style="color: #4f4b48;">即時審核與放款，讓您在最短時間內獲得資金。</td>
                                </tr>
                                <tr>
                                    <td class="bg-main text-white">√ 彈性方案</td>
                                    <td class="bg-white px-lg-4 px-2" style="color: #4f4b48;">依據您的需求，量身定制靈活的借貸選擇。</td>
                                </tr>
                                <tr>
                                    <td class="bg-main text-white">√ 專業評估</td>
                                    <td class="bg-white px-lg-4 px-2" style="color: #4f4b48;"> 由經驗豐富的專家團隊進行精準估價，保障您的權益。</td>
                                </tr>
                                <tr>
                                    <td class="bg-main text-white">√ 安全無憂</td>
                                    <td class="bg-white px-lg-4 px-2" style="color: #4f4b48;">所有典當物品均存放在高度安全的設施內，讓您完全放心。</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>


        <div class="container-fluid px-0 py-5 m-0 position-relative bg-services-items">
            <div class="container">
                <div class="row justify-content-center align-items-center mx-lg-auto mx-2">
                    <div class="col-12 text-center py-3">
                        <h4>更多借款服務</h4>
                    </div>

                </div>

                <div class="row justify-content-center align-items-center mx-lg-auto mx-2">
                    <div class="col-lg-4 col-md-6 col-12 text-center py-3">
                        <div class="card shadow-sm services-item">
                            <div class="card-body">
                                <img src="images/00-hp/sericon01.svg" class="img-fluid services-item-img-first" alt="">
                                <h5 class="card-title">汽機車借款</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 text-center py-3">
                        <div class="card shadow-sm services-item">
                            <div class="card-body">
                                <img src="images/00-hp/sericon02.svg" class="img-fluid services-item-img" alt="">
                                <h5 class="card-title">支客票貼現</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 text-center py-3">
                        <div class="card shadow-sm services-item">
                            <div class="card-body">
                                <img src="images/00-hp/sericon03.svg" class="img-fluid services-item-img" alt="">
                                <h5 class="card-title">房地融資代辦</h5>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-12"></div> -->

                    <div class="col-lg-4 col-md-6 col-12 text-center py-3">
                        <div class="card shadow-sm services-item">
                            <div class="card-body">
                                <img src="images/00-hp/sericon04.svg" class="img-fluid services-item-img" alt="">
                                <h5 class="card-title">黄金/精品/3C產品</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 text-center py-3">
                        <div class="card shadow-sm services-item">
                            <div class="card-body">
                                <img src="images/00-hp/sericon05.svg" class="img-fluid services-item-img" alt="">
                                <h5 class="card-title">代償降息專案</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 text-center py-3">
                        <div class="card shadow-sm services-item">
                            <div class="card-body">
                                <img src="images/00-hp/sericon05.svg" class="img-fluid services-item-img" alt="">
                                <h5 class="card-title">工商企業融資</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <!-- Footer Start -->
    <div class="line-bottom w-100"></div>
    <div class="container-fluid bg-dark footer pt-5 pb-3 wow fadeIn" data-wow-delay="0.1s">

        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <div class="d-block d-md-flex align-items-end mb-2">
                        <img src="images/00-hp/footer_logo.svg" class="img-fluid me-2" style="width: 15rem;" alt="">
                        <p class="text-primary mb-0" style="font-size: 14px;">｜雲林推薦當舖 汽機車借款免留車</p>
                    </div>

                    <div class="row g-2">
                        <div class="col-lg-auto">
                            <a href="">
                                <img src="images/00-hp/footer_qrcode.jpg" class="img-fluid" style="width: 100px;" alt="">
                            </a>
                        </div>
                        <div class="col-lg-auto footer-content">
                            <p class="text-light mb-0"><span class="me-3">服務專線：05-5334000</span><span>LINE ID：ys5334000</span></p>
                            <p class="text-light mb-0">店面服務地址：雲林縣斗六市明德北路二段419號</p>
                            <p class="text-light mb-0">E-mail：<a href="mailto:steven7235@yahoo.com.tw" class="text-light">steven7235@yahoo.com.tw</a></p>
                            <p class="text-light mb-0">本日人氣：<span class="me-3 numtxt">375</span> 累計人氣：<span class="numtxt">28016</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6 quick-links">
                    <p class="text-primary mb-4 text-uppercase">Quick Links</p>
                    <div class="d-flex">
                        <div class="me-2">
                            <a href="car.html" class="d-block text-light">汽機車借款</a>
                            <a href="cheque.html" class="d-block text-light">支客票貼現</a>
                            <a href="realestate.html" class="d-block text-light">房地融資代辦</a>
                            <a href="valuable.html" class="d-block text-light">黃金/精品/3C產品</a>
                            <a href="on-lendding.html" class="d-block text-light">代償降息專案</a>
                            <a href="business.html" class="d-block text-light">工商企業融資</a>
                        </div>
                        <div class="">
                            <a href="about.html" class="d-block text-light">公司簡介</a>
                            <a href="process.html" class="d-block text-light">借款流程</a>
                            <a href="news.html" class="d-block text-light">最新消息</a>
                            <a href="faq.html" class="d-block text-light">常見問答</a>
                            <a href="map.html" class="d-block text-light">交通位置</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="d-flex justify-content-end">
                        <img src="images/00-hp/footer_ig.png" class="img-fluid" style="width: 50px;" alt="">
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="line"></div>
                </div>
                <div class="col-12 mt-2">
                    <p class="footer-notice">
                        ♦備註：<br>
                        1.利息（以當舖法規定為準）：月息最低1%～最高2.5%（年利率最低12%~最高30%），提早結清以日計算，無違約金。<br>
                        2.無任何代辦手續費。<br>
                        3.還款期數：最低3期-最長60期，免綁約。<br>
                        4.利息需符合當地法律規定計算，依據個人條件有所不同：年利率最低12%~最高30%。<br>
                        5.借款人在放款後60天或更短期限內全額清償的個人信貸。<br>
                        6.依據個人工作、薪水及各項負債授信條件不同而有所差異，以下為借貸成本計算的參考案例：<br>
                        假設借一筆新台幣300,000元的款項，還款期限為60個月、開辦手續費為新台幣6,000元、總費用年利率為3.68%，等於每個月還款金額應為新台幣5,113元、總還款金額則為新台幣312,780元。<br>

                        ♦貼心小提醒：<br>
                        本公司所收售之流當物品皆無在網路或是電話上販售，亦無請客戶先匯款再寄送流當品等情況；如有上述情況皆為詐騙集團所為，請勿上當。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-auto text-center text-md-end mb-3 mb-md-0">
                    <p class="mb-0">
                        <img src="images/00-hp/lock.png" class="img-fluid" width="20" alt="">
                        <span>本網站採用全球最先進的TLS加密處理技術以確保所有傳輸資訊安全無憂</span>
                    </p>
                </div>
                <div class="col-md-auto text-center text-md-start">
                    <p class="mb-0 text-uppercase">© Copyright 2024 All Rights Reserved 聯大優質當舖 Web Design Power By <a
                            href="https://cheni.com.tw/" target="_blank">誠翊資訊</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a> -->
    <a href="#" class="rounded-circle back-to-top">
        <img src="images/00-hp/top.png" class="img-fluid" style="width: 50px;" alt="">
    </a>

    <div class="d-none d-md-block social-links-btn">
        <a href="line://ti/p/ys5334000" class="d-none d-md-block"><img src="images/00-hp/left_line.png"
                class="img-fluid left-line-img" alt=""></a>
        <a href="" class="d-none d-md-block"><img
                src="images/00-hp/left_msg.png" class="img-fluid left-msg-img" alt=""></a>
    </div>


    <div class="d-flex d-md-none w-100 position-fixed bottom-0 left-0 social-links-btn-mobile">
        <div class="row justify-content-center align-content-center text-center p-0 m-0 w-100">
            <div class="col-4 s-line-btn align-self-center">
                <a href="line://ti/p/ys5334000" target="_blank">
                    <span><i class="bi bi-line"></i></span> 線上預約
                </a>
            </div>
            <div class="col-4 s-phone-btn align-self-center">
                <a href="tel:05-5334000" target="_blank">
                    <span><i class="bi bi-telephone-fill"></i></span> 聯絡專人
                </a>
            </div>
            <div class="col-4 s-location-btn align-self-center">
                <a href="https://maps.app.goo.gl/gxEiwZ6gw3dVQYi77" target="_blank">
                    <span><i class="bi bi-map-fill"></i></span> 地址導航
                </a>
            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".heroSwiper", {
            spaceBetween: 30,
            effect: "fade",
            loop: true,
            centeredSlides: true,
            speed: 1000,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            // navigation: {
            //     nextEl: ".swiper-button-next",
            //     prevEl: ".swiper-button-prev",
            // },
            // pagination: {
            //     el: ".swiper-pagination",
            //     clickable: true,
            // },
        });
    </script>
</body>

</html>